{% extends "::blog/page/1column.html.twig" %}

{% block body %}
    <h1>{{ post.title }}</h1>

    <p>{{ post.body }}</p>
    <div class="well">
        <legend>Comments</legend>
        {% for comment in post.getCommentId() %}
            <div class="media">
                <a class="pull-left" href="#">
                    <img src="/images/holder.png" alt="holder">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Comment ID {{ comment.id }}</h4>
                    <p>{{ comment.comment }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <hr/>
    <small>Post date: {{  post.getCreatedDate().format("Y-m-d H:i:s")  }}</small>

    {{ form(form) }}
{% endblock %}